/* theme color */
$--color-primary: #4299e1;
$--color-success: #48bb78;
$--color-text-primary: #2d3748;
$--color-text-placeholder: #cbd5e0;
$--background-color-base: #f7fafc;

/* icon font path, required */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import '~element-ui/packages/theme-chalk/src/index';

// Globals
$header-height: 70px;
$sidebar-width: 360px;

[class*=' el-icon-'],
[class^='el-icon-'] {
  font-size: 20px;
  line-height: 0.5;
  vertical-align: middle;
}

.mapboxgl-ctrl-top-left {
  top: 0;
  left: 360px;
}

.img-responsive {
  width: 100%;
  height: auto;
}

.form-input-with-ctrl-btn {
  display: flex;
  align-items: center;
  // width: 200px;
  .el-input__inner {
    border-radius: 3px 0px 0px 3px;
  }
  .el-button {
    border-radius: 0px 3px 3px 0px;
    border-left: none;
    width: 10px;
    i {
      margin-left: -10px;
    }
  }
}
.mapboxgl-popup-content {
  pointer-events: none;
}
